body {background-color: LightCoral;
}

h1 {text-align: center;
    color: Red;
}

h1 {border-style: groove;
    border-color: brown;
    border-width: 1px;
}

ul {font-size: 150%;

}

h4 {font-size: 150%;
    text-align: center;
}


